* {
    margin: 0%;
    padding: 0%;
}

/*---Mobile First---*/



body {
    width: 100%;
    margin: 0%;
    font-size: 120%;
    font-family: 'Verdana', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

/*HEADER*/
header {
    text-align: center;
    background-color: rgb(21, 98, 102);
    padding: 2% 0%;
}

.imglogo {
    width: 30%;
}

/*NAV*/

nav {
    padding: 5% 0%;
    background-color: #ffffff;
    border-bottom: 1px solid #c3c0c0;
    width: 100%;
    position: sticky;
    top: 0%;
    z-index: 1000;
}

.menuResponsive {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-content: center;
    align-items: center;
    width: auto;
    list-style: none;
}

.menuResponsive li {
    text-align: center;
}

.btn-menuResponsive,
.btn-inicio {
    margin-top: 2%;
    width: 25%;
}


.menu {
    display: none;
}

.show {
    padding: 5% 0%;
    display: flex;
    flex-direction: column;
    text-align: center;
    list-style: none;
    position: -webkit-sticky;
    border-top: 1px solid rgb(176, 175, 175);
}

.menu .item-nav {
    line-height: 2rem;
}


a:link,
a:visited {
    text-decoration: none;
    color: rgb(1, 53, 80);
}

aside {
    width: 30%;
    background-color: #ffffff;
    padding: 4%;
    position: sticky;
    top: 80%;
    left: 90%;
    margin-right: 3%;
    box-shadow: 0 0 25px 2px rgba(0, 0, 0, 0.3);
    text-align: center;
}

aside .btn-turno {
    font-weight: bold;
    color: rgb(21, 98, 102)
}



/*MAIN*/



/*-----------------index.html-----------------*/

/* SECTION 1: Slider */

.slider {
    width: 100%;
    position: relative;
    overflow: hidden;
    margin: -15% 0% 5% 0%;
}

.slider ul {
    display: flex;
    padding: 0;
    width: 400%;
    list-style: none;
    margin: 0;
}

.slider ul li {
    overflow: hidden;
    flex: 0 0 25%;
    animation: slide 16s infinite;
}

.slider ul li img {
    max-width: 100%;
    /* Las imágenes ocupan todo el espacio disponible */
    height: auto;
}


@keyframes slide {
    0% {
        transform: translateX(0);
    }

    20% {
        transform: translateX(0);
    }

    25% {
        transform: translateX(-100%);
    }

    45% {
        transform: translateX(-100%);
    }

    50% {
        transform: translateX(-200%);
    }

    70% {
        transform: translateX(-200%);
    }

    75% {
        transform: translateX(-300%);
    }

    100% {
        transform: translateX(-300%);
    }
}

/* SECTION 2: OPINIONES */
#opiniones {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    border-top: 1px solid #c3c0c0;
}

.titulo-opiniones {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: rgb(1, 53, 80);
    font-size: 1.2rem;
    text-align: center;
    font-weight: bold;
    margin-top: 5%;
    padding: 3%;
}

.opiniones-box-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.opiniones-box {
    width: 80%;
    box-shadow: 2px 2px 30px rgba(0, 0, 0, 0.1);
    background-color: #ffffff;
    padding: 3%;
    margin: 2%;
    cursor: pointer;
}

.user-img {
    width: 30%;
    border-radius: 50%;
    overflow: hidden;
    margin-right: 2%;
}

.user-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.user {
    display: flex;
    align-items: center;
}

.user-name {
    display: flex;
    flex-direction: column;
}

.user-name strong {
    color: rgb(3, 90, 111);
    font-size: 1.4rem;
    letter-spacing: 0.5px;
}

.user-name span {
    color: #979797;
    font-size: 1rem;
    align-items: right;
}

.opiniones {
    color: #f9d71c;
    width: 60%;
}

.box-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 3%;
}

.user-comment p {
    font-size: 1rem;
    color: #4b4b4b;
    justify-items: center;
}



/*-----------------coberturas.html-----------------*/


/*-----------------contacto.html-----------------*/
section.contactos{
    display: grid;
    grid-template-columns: repeat(1,1fr);
    grid-template-rows: auto;
    justify-items: center;
    padding: 1% 10% 5% 10%;
}

#ubicacion{
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.4);
    height: 35vh;
}

h1.titulo-ubicacion{
    text-align: center;
    font-size: 1.3rem;
    font-weight: 800;
    padding-bottom: 10%;
}

section.columna2, section#contactanos{
    margin-top: 10%;
}

#contactanos div p{
    font-size: 0.8rem;
    line-height: 1.5rem;
    color:#4b4b4b;
}

#contactanos div h1{
    font-size: 1rem;
    line-height: 1.7rem;
}

#visitas{
    padding-bottom: 40px;
}


/*-----------------especialidades.html-----------------*/


.especialidades h1 {
    color: #fff;
    text-align: center;
    font-size: 0.8rem;
    font-weight: 400;
    padding-top: 5%;
    padding-bottom: 5%;
    letter-spacing: 0.2rem;
    text-transform: uppercase;
}


#section-especialidades p,
.ficha .descripcion h2 {
    margin-bottom: 2%;
    text-align: center;
    font-size: 1.2rem;
    font-weight: 600;
}

.especialidades-container {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    max-width: 100%;
    height: auto;
    justify-content: space-around;
    column-gap: 1%;
    row-gap: 1%;
    padding: 3% 3% 40% 3%;
}


.especialidades {
    display: inline-block;
    height: auto;
    font-size: 2em;
    text-align: center;
    margin-top: 2%;
    margin-bottom: 1%;
    margin-left: 1%;
    margin-right: 1%;
    border-radius: 5px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.4);
}

.especialidades .encabezado {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto;
    align-items: center;
    background-color: #01333E;
    border-radius: 5px;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.4);

}

.especialidades .encabezado img {
    width: 50%;
}

.especialidades .encabezado button {
    background-color: #01333E;
    border: none;
}

.especialidades .encabezado button img {
    width: 20%;
}

.especialidades img {
    width: 30%;
}

.oculto {
    display: none;
}

.rotate {
    transform: rotate(180deg);
}

.arrow {
    transition: 0.5s;
}

.ficha {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 2%;
}

#section-especialidades p.descripcion {
    padding: 2%;
    text-align: center;
    line-height: 1.2rem;
    font-size: 0.8rem;
    font-weight: 100;
    color: #7b7979;
}




/*-----------------quienesSomos.html-----------------*/

/*-----------------turnos.html-----------------*/
#form {
    width: 70%; 
    margin: 8% auto; 
    padding: 10% 10%;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
    border-radius: 20px;
}

label {
    font-size: 0.9rem; 
    font-weight: 600;
    display: block; 
    margin-bottom: 3%; 
    margin-top: 2%;
    
}

input[type="text"],
textarea[type="text"],
input[type="number"],
input[type="email"],
input[type="tel"],
select {
    width: 100%; 
    padding: 3% 5%; 
    margin-bottom: 15px; 
    border: 1px solid #ccc; 
    border-radius: 30px; 
    box-sizing: border-box; 
    background-color: rgb(228, 244, 245);;
    border: 2px solid #f0faf9;
}

select {  
    color: gray;
}

select option{
    background-color: white;
    border-radius: 5px;
}
span.radio{
    display: flex;
    flex-direction: row;
    justify-content: center;
}
span.radio label, span.radio input[type="radio"]{
    padding-right: 5%;
}


.box-mensaje {
    margin-bottom: 5%; 
    height: auto;
}

.img-captcha{
    width: 90%;
}

.img-recargar {
    width: 7%;
    height: auto; 
}

.inp-captcha {
    width: 60%; 
    padding: 2%; 
    margin-bottom: 5%; 
    border: 1px solid #ccc; 
    border-radius: 2%; 
    box-sizing: border-box; 
}

input[type="submit"] {
    background-color: #4CAF50; 
    color: white; 
    padding: 3% 6%; 
    border: none; 
    border-radius: 15px; 
}



.alerta { 
    margin-top: 10px; 
}

/*FOOTER*/
footer {
    width: 100%;
    background-color: rgb(21, 98, 102);
}

footer .grupo-1 {
    width: 100%;
    margin: auto;
    display: flex;
    flex-direction: column-reverse;
}

.grupo-1 .box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    margin: 5% 0%;
    padding: 0% 3%;
}


.box figure img {
    width: 40%;
    margin: 0% 0% 5% 0%;
}

.box h2 {
    color: #ffffff;
    margin-bottom: 2%;
    margin-top: 10%;
    font-size: 1.4rem;
}

.box p {
    color: #efefef;
    font-family: lucida sans;

}

.red-social {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.red-social img {
    margin: 2%;
    width: 7%;
    color: #ffffff;
    text-align: center;
}

.grupo-2 {
    background-color: #01333E;
    padding: 15px 10px;
    text-align: center;
    color: #ffffff;
}


/*---small and medium devices---*/

@media only screen and (min-width: 480px) {

    /*HEADER*/
    header {
        padding: 1%;
    }

    .imglogo {
        width: 15%
    }

    /*NAV*/

    nav {
        margin: 0%;
        z-index: 1000;
        padding: 0;
    }

    .menuResponsive {
        display: none;
    }



    .menu {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        margin: 0%;
        padding-left: 0%;
        list-style: none;
        font-size: 0.9rem;
    }

    .item-nav:hover {
        border-bottom: 3px solid rgb(21, 98, 102);
    }

    aside {
        padding: 0% 1% 1% 1%;
        width: 15%;
        left: 90%;
        margin-right: 3%;
        z-index: 1000;
        border-radius: 5px;
        box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.4);
    }

    .btn-turno {
        font-size: 1rem;
        font-weight: 800;
    }

    aside:hover {
        transform: scale(1.1);
    }

    /*MAIN*/


    /*-----------------index.html-----------------*/


    /* SECTION 1: Slider */

    .slider {
        width: 75%;
        position: relative;
        overflow: hidden;
        margin: 0% 0% 5% 12%;
    }


    /* SECTION 2: OPINIONES */

    .opiniones-box-container {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
    }

    .opiniones-box {
        width: 30%;
        padding: 2%;
        margin: 1%;
    }

    .user-img {
        width: 20%;
    }

    .user-name strong {
        font-size: 0.8rem;
    }

    .user-name span {
        font-size: 0.6rem;
    }

    .opiniones {
        color: #f9d71c;
        width: 50%;
    }

    .user-comment p {
        font-size: 0.5rem;
        color: #4b4b4b;
        justify-items: center;
    }

    .opiniones i {
        width: 11%;
    }

    /*-----------------coberturas.html-----------------*/

    /*-----------------contacto.html-----------------*/
    section.contactos{
        display: grid;
        grid-template-columns: repeat(1,1fr);
        grid-template-rows: auto;
        padding: 1% 5% 5% 5%;
    }

    
    h1.titulo-ubicacion{
        font-size: 1rem;
        font-weight: 700;
        padding-bottom: 5%;
    }
    
    section.columna2{
        display: grid;
        grid-template-columns: repeat(2,1fr);
        border-top: 1px solid rgb(235, 235, 237);
        border-bottom: 1px solid rgb(235, 235, 237);
    }


    section.columna2, section#contactanos{
        margin-top: 5%;
        justify-items: flex-end;
        padding: 3% 2% 3% 2%;
    }
    

    #contactanos div p{
        font-size: 0.6rem;
    }
    
    #contactanos div h1{
        font-size: 1rem;
        line-height: 1.7rem;
        margin-bottom: 4%;
    }
    

    

    
    /*-----------------especialidades.html-----------------*/
    #section-especialidades{
        padding-bottom: 20%;
    }

    span.especialidad-mobile {
        display: none;
    }


    .especialidades h1 {
        font-size: 0.4rem;
        font-weight: 400;
    }


    #section-especialidades p,
    .ficha .descripcion h2 {
        font-size: 0.6rem;
        font-weight: 600;
    }

    .especialidades-container {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: auto;
        column-gap: 4%;
        row-gap: 5%;
        padding: 2% 8% 5% 8%;
    }


    .especialidades {
        font-size: 0.4em;
        height: 100px;
    }

    .especialidades .encabezado {
        display: grid;
        grid-template-columns: auto;
        justify-items: center;
        border-radius: 5px;
        box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.4);
        padding: 0%;
        width: 100%;
    }

    .especialidades .encabezado img {
        width: 20%;
    }

    .especialidades .encabezado button {
        border: none;
        cursor: pointer;
    }

    .especialidades .encabezado button img {
        width: 100%;
    } 

    .especialidades img {
        width: 30%;
    }

    .ficha {
        padding: 2%;
        border-radius: 10px;
        box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.4);
    }

    #section-especialidades p.descripcion {
        font-size: 0.4rem;
        font-weight: 200;
    }

    .especialidades {
        height: auto;
        font-size: 0.6em;
        text-align: center;
        margin: 1%;
        border: none;
        box-shadow: none;
    }

    .encabezado h1{
        transition: transform 0.5s ease-in-out;
    }

    .encabezado h1:hover {
        transform: scale(1.1);
    }

    

    /*-----------------quienesSomos.html-----------------*/

    /*-----------------turnos.html-----------------*/


    #form{
        padding: 3% 2%;
        text-align: right;
        border-radius: 5px;
    }

    #form .form-elements{
        display: grid;
        grid-template-columns: repeat(4, 1fr);   
    }

    input[type="text"],
    textarea[type="text"],
    input[type="number"],
    input[type="email"],
    input[type="tel"],
    select {
        width: 100%;
        border-radius: 5px;  
        font-size: 0.7rem;   
    }
    
    label {
        margin-bottom: 2%; 
        margin-right: 4%;
        font-size: 0.7rem;
    }
    
    #form .form-elements2{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        justify-items: center;  
        margin-top: 5%; 
    }

    .box-mensaje {
        justify-self: center;
        width: 50%;
        margin-bottom: 2%; 
    }

    .form-elements2 .seccion-captcha{
        padding:5% 0% ;
        border-bottom: 1px solid rgb(240, 237, 237);
        border-top: 1px solid rgb(240, 237, 237);
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        justify-content: space-between;
        align-items: center;
    }

    .img-captcha{
        width: 50%;
        justify-self: end;
        margin-right: 2%;
    }

    .img-recargar {
        width: 7%;
    }

    .img-recargar:hover {
        transform: scale(1.1);
    }

    .inp-captcha[type="text"] {
        width: 50%;
        height: 20%; 
        border-radius: 2%; 
        margin-bottom: 0; 
    }

    input[type="submit"] {
        padding: 2% 5%;
        margin: 7% 5% 2% 5%;
        border-radius: 5px;
        font-size: 0.9rem; 
        cursor: pointer;
    }

    input[type="submit"]:hover {
        background-color: #45a049;
    }
    
    /*FOOTER*/

    footer .grupo-1 {
        width: 100%;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        padding: 1% 0%;
    }

    .box figure {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .box figure img {
        width: 30%;
    }

    .box h2 {
        color: #ffffff;
        margin-bottom: 2%;
        font-size: 0.9rem;
    }

    .box p {
        font-size: 0.6rem;
        color: #efefef;
        margin-bottom: 1%;
        font-family: lucida sans;
    }

    .red-social img {
        display: inline-block;
        width: 5%;
        line-height: 1%;
        color: #ffffff;
        margin-right: 10px;
        text-align: center;
        transition: all300ms ease;
    }

    .grupo-2 {
        font-size: 0.5rem;
    }
}

/*---large and extra large devices---*/

@media only screen and (min-width: 992px) {
    /*HEADER*/


    /*NAV*/


    /*MAIN*/

    /*-----------------index.html-----------------*/

    /* SECTION 1: Slider */

    .slider-box {
        width: 750px;
    }

    /*-----------------coberturas.html-----------------*/

    /*-----------------contacto.html-----------------*/
    section.contactos{
        display: grid;
        grid-template-columns: repeat(2, auto);
        column-gap: 5%;
        padding: 3% 8% 15% 15%;
    }

    
    h1.titulo-ubicacion{
        text-align: left;
        font-size: 1.3rem;
        font-weight: 700;
        padding-bottom: 5%;
    }

    #ubicacion{
        height: 50vh;
        width: 35vw;
    }
    
    section.columna2{
        grid-template-columns: repeat(1,1fr);
    }
    

    #contactanos div p{
        font-size: 1rem;
        padding: 12px 12px;
    }
    
    #contactanos div h1{
        font-size: 1.2rem;
    }
    

    

    /*-----------------especialidades.html-----------------*/

    span.especialidad-mobile {
        display: none;
    }


    .especialidades h1 {
        font-size: 0.6rem;
    }


    #section-especialidades p{
        font-size: 0.9rem; 
    }

    .ficha .descripcion h2 {
        font-size: 0.5rem;
    }

    .especialidades-container {
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: auto;
        padding: 3% 5% 3% 5%;
        column-gap: 2%;
        row-gap: 5%;
    }

    .especialidades .encabezado {
        padding: 2%;
    }

    .especialidades img {
        width: 40%;
    }

    .ficha {
        padding: 5%;
    }

    #section-especialidades p.descripcion {
        padding: 1%;
        font-size: 0.5rem;
    }

    .especialidades {
        height: auto;
    }
    


    /*-----------------quienesSomos.html-----------------*/

    /*-----------------turnos.html-----------------*/
    input[type="text"],
    input[type="number"],
    input[type="email"],
    input[type="tel"],
    select {
        font-size: 1.2rem;
    }

    input[type="submit"] {
        font-size: 1.5rem; 
    }
    /*FOOTER*/
}