/*---Mobile First---*/

body {
    width: 100%;
    margin: 0%;
    font-size: 120%;
    font-family: 'Verdana', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

/*HEADER*/


/*NAV*/

.menuResponsive {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-items: center;
    align-items: center;
    padding-left: 10%;
}

.btn-menuResponsive {
    margin-top: 2%;
    width: 25%;
}
.menu {
    display: none;
}

.show {
    padding: 10% 0%;
    display: flex;
    flex-direction: column;
    text-align: center;
    position: -webkit-sticky;
}


a:link,
a:visited {
    text-decoration: none;
    color: rgb(1, 53, 80);
    text-transform: uppercase;
}



/*MAIN*/

/*-----------------index.html-----------------*/


/*-----------------coberturas.html-----------------*/


/*-----------------especialidades.html-----------------*/


/*-----------------quienesSomos.html-----------------*/



/*FOOTER*/



/*---small and medium devices---*/

@media only screen and (min-width: 600px){
    /*HEADER*/


    /*NAV*/
    .menuResponsive {
        display: none;
    }
    nav{
        width: 100%;
        position: sticky;
        top: 0%;
    }

    .menu{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        background-color: rgb(33, 51, 67);
        align-items: center;
        margin: 0%;
        padding-left: 0%;
    }


    /*MAIN*/

    /*-----------------index.html-----------------*/


    /*-----------------coberturas.html-----------------*/


    /*-----------------especialidades.html-----------------*/


    /*-----------------quienesSomos.html-----------------*/



    /*FOOTER*/
}

/*---large and extra large devices---*/

@media only screen and (min-width: 992px){
    /*HEADER*/


    /*NAV*/


    /*MAIN*/

    /*-----------------index.html-----------------*/


    /*-----------------coberturas.html-----------------*/


    /*-----------------especialidades.html-----------------*/


    /*-----------------quienesSomos.html-----------------*/



    /*FOOTER*/
}