<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="keywords" content="CAC Medical, clinica, consultorios, Buenos Aires, Médicos">
    <meta name="description"
        content="Somos una clínica especializada que proporciona servicios médicos integrales y tratamientos personalizados para satisfacer las necesidades de salud de sus pacientes.">
    <link rel="stylesheet" href="../static/css/estilo.css">
    <link rel="icon" href="../static/images/favicon.ico">
    <script src="https://kit.fontawesome.com/283daa4351.js" crossorigin="anonymous"></script>
    <title>Contacto</title>
</head>

<body>
    <header>
        <a href="../index.html"> <img class="imglogo" src="../static/images/logos/LogoCACMedical.png"
                alt="logo-cac-medical"> </a>
    </header>


    <nav>
        <ul class="menuResponsive">
            <li><a href="../index.html"><img class="btn-inicio" src="../static/images/inicio.svg" alt="Inicio"></a></li>
            <li><a><img class="btn-menuResponsive" src="../static/images/menuHamburguesa.svg" alt="Menú"></a></li>
        </ul>

        <ul class="menu">
            <li class="item-nav"><a href="../index.html">Inicio</a></li>
            <li class="item-nav"><a href="quienesSomos.html">Quienes somos</a></li>
            <li class="item-nav"><a href="especialidades.html">Especialidades</a></li>
            <li class="item-nav"><a href="coberturas.html">Cobertura</a></li>
            <li class="item-nav"><a href="#">Contacto</a></li>
        </ul>

    </nav>

    <aside>
        <a href="turnos.html" class="btn-turno">Solicitar turno</a>
    </aside>

    <main>
        <section class="contactos">
            <section id="mapa">
                <!-- MAPA -->
                <div id="c1" class="maps">
                    <h1  class="titulo-ubicacion">Nuestra ubicación</h1>
                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3283.562621196938!2d-58.38196390321049!3d-34.6152199!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x95bccad5e3c692e1%3A0x6f64515556e552da!2sM%C3%A9xico%20782%2C%20C1097AAP%20Cdad.%20Aut%C3%B3noma%20de%20Buenos%20Aires!5e0!3m2!1ses!2sar!4v1715106344975!5m2!1ses!2sar" style="border:0" allowfullscreen="" loading="lazy"
                    referrerpolicy="no-referrer-when-downgrade" id="ubicacion"></iframe>
                </div>
            </section>

            <!-- LISTA PARA CONTACTARNOS -->
            <section class="columna2">
                <section id="contactanos">
                    <div>
                        <h1 class="titulo-contactos">Contactanos</h1>
                        <p>- México 782, Ciudad Autónoma de Buenos Aires</p>
                        <p>- 0800-210-4243</p>
                        <p>- Turnos telefónicos de Lunes a Viernes de 8 a 18hs</p>
                        <p>- Mesa operativa para derivaciones de internados 24hs</p>
                    </div>
                </section>

            <!-- VISITAS -->
                <section id="contactanos">
                    <div>
                        <h1>Horarios de visitas</h1>
                        <p>- Internación general: 9hs a 11hs - 17hs a 19hs</p>
                        <p>- Pediatría: 17hs a 19hs</p>
                        <p>- Neonatología: 13hs a 19hs </p>
                        <p>- Terapia: 9hs a 11hs</p>
                    </div>
                </section>    
            </section>
        </section>

    </main>

    <footer>
        <div class="grupo-1">
            <!-- BOX 1 -->
            <div class="box">
                <figure>
                    <a href="#">
                        <img src="../static/images/logos/LogoCACMedical.png" alt="logo-cac-medical">
                    </a>
                </figure>
            </div>

            <!-- BOX 2 -->
            <div class="box">
                <h2>¡Hey!</h2>
                <p>¿Querés estar al tanto de nuestras últimas novedades, promociones y noticias?</p>
                <p>En nuestras plataformas sociales tendrás acceso a contenido exclusivo.</p>

                <h2>Seguinos</h2>
                <div class="red-social">
                    <a href="https://www.instagram.com"><img  src="../static/images/logos/logo-instagram.png" alt="logo-instagram"></a>
                    <a href="https://www.facebook.com"> <img  src="../static/images/logos/logo-facebook.png" alt="logo-facebook"></a>
                    <a  href="https://x.com"><img src="../static/images/logos/logo-X.png" alt="logo-X"></a>
                    <a href="https://www.youtube.com"> <img  src="../static/images/logos/logo-youtube.png" alt="logo-youtube"></a>
                </div>
            </div>
        </div>

        <div class="grupo-2">
            <small>&copy; 2024 <b>CAC Medical</b> - Todos los Derechos Reservados</small>
        </div>

    </footer>
    <script type="text/javascript" src="../static/js/menu_responsive.js"></script>
    <script src="../static/js/ver_mas.js"></script>
</body>

</html>