<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="keywords" content="CAC Medical, clinica, consultorios, Buenos Aires, Médicos">
    <meta name="description" content="Somos una clínica especializada que proporciona servicios médicos integrales y tratamientos personalizados para satisfacer las necesidades de salud de sus pacientes.">
    <link rel="stylesheet" href="../static/css/contacto.css">
    <link rel="icon" href="../static/images/favicon.ico">
    <title>Contacto</title>
</head>
<body>
    <!--Form-->

    <div id="c1" class="maps">
        <h1  class="titulo-ubicacion">Ubicación</h1>
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3283.562621196938!2d-58.38196390321049!3d-34.6152199!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x95bccad5e3c692e1%3A0x6f64515556e552da!2sM%C3%A9xico%20782%2C%20C1097AAP%20Cdad.%20Aut%C3%B3noma%20de%20Buenos%20Aires!5e0!3m2!1ses!2sar!4v1715106344975!5m2!1ses!2sar" style="border:0" allowfullscreen="" loading="lazy"
        referrerpolicy="no-referrer-when-downgrade"></iframe>
    </div>
</body>
</html>