<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/estilo.css">
    <link rel="icon" href="../static/images/favicon.ico">
    <title>Quienes somos | CAC MEDICAL</title>
</head>

<body>
    <header>
        <a href="../index.html"> <img class="imglogo" src="../static/images/logos/LogoCACMedical.png"
                alt="logo-cac-medical"> </a>
    </header>


    <nav>
        <ul class="menuResponsive">
            <li><a href="../index.html"><img class="btn-inicio" src="../static/images/inicio.svg" alt="Inicio"></a></li>
            <li><a><img class="btn-menuResponsive" src="../static/images/menuHamburguesa.svg" alt="Menú"></a></li>
        </ul>

        <ul class="menu">
            <li class="item-nav"><a href="../index.html">Inicio</a></li>
            <li class="item-nav"><a href="#">Quiénes somos</a></li>
            <li class="item-nav"><a href="especialidades.html">Especialidades</a></li>
            <li class="item-nav"><a href="coberturas.html">Cobertura</a></li>
            <li class="item-nav"><a href="contacto.html">Contacto</a></li>
        </ul>

    </nav>

    <aside>
        <a href="turnos.html" class="btn-turno">Solicitar turno</a>
    </aside>

    <main>
        <section class="quienes-somos1">
            <h1>Quiénes Somos</h1>
            <p>CAC Medical es una clínica líder en Buenos Aires dedicada a proporcionar atención médica de calidad con un enfoque integral y personalizado. Nuestro compromiso con la excelencia médica y el bienestar de nuestros pacientes nos distingue. Con un equipo multidisciplinario de profesionales altamente capacitados y tecnología de vanguardia, nos esforzamos por ofrecer servicios médicos de última generación en un ambiente cálido y acogedor. En CAC Medical, nuestra misión es promover la salud y el bienestar en la comunidad, brindando atención médica confiable y compasiva a cada paciente que confía en nosotros.</p>

            <div class="video-cac">
                <video src="../assets/video/video-cacmedical.mp4" controls></video>
            </div>
        </section>
        
        <section class="quienes-somos1">
        <h2>Historia y Valores</h2>
            <div class="card">
                <p> Fundada en 1998 por un equipo de médicos visionarios, CAC Medical nació con la misión de proporcionar atención médica de alta calidad y accesible en Buenos Aires. Lo que comenzó como una clínica modesta ha crecido hasta convertirse en un referente en el campo de la medicina en Argentina. A lo largo de los años, hemos expandido nuestras instalaciones y servicios para satisfacer las necesidades cambiantes de nuestra comunidad, manteniendo siempre nuestro compromiso con la excelencia médica y la atención centrada en el paciente.</p>
            </div>

            <div class="card">
                <p> En CAC Medical, nuestros valores fundamentales guían cada aspecto de nuestro trabajo y nuestras interacciones, es por ello que nuestros valores se basan en la Excelencia en todas nuestras áreas de atención médica, desde la precisión en los diagnósticos hasta la calidad de los tratamientos y la satisfacción del paciente. Demostrando compasión y empatía en todo momento y respetando la dignidad y autonomía, actuando con honestidad y rectitud en todas las interacciones profesionales, manteniendo altos estándares éticos y cumpliendo con todas las regulaciones y normativas médicas.</p>
                </p>
            </div>   
        </section>
    </main>

    <footer>
        <div class="grupo-1">
            <!-- BOX 1 -->
            <div class="box">
                <figure>
                    <a href="#">
                        <img src="../static/images/logos/LogoCACMedical.png" alt="logo-cac-medical">
                    </a>
                </figure>
            </div>

            <!-- BOX 2 -->
            <div class="box">
                <h2>¡Hey!</h2>
                <p>¿Querés estar al tanto de nuestras últimas novedades, promociones y noticias?</p>
                <p>En nuestras plataformas sociales tendrás acceso a contenido exclusivo.</p>

                <h2>Seguinos</h2>
                <div class="red-social">
                    <a href="https://www.instagram.com"><img  src="../static/images/logos/logo-instagram.png" alt="logo-instagram"></a>
                    <a href="https://www.facebook.com"> <img  src="../static/images/logos/logo-facebook.png" alt="logo-facebook"></a>
                    <a  href="https://x.com"><img src="../static/images/logos/logo-X.png" alt="logo-X"></a>
                    <a href="https://www.youtube.com"> <img  src="../static/images/logos/logo-youtube.png" alt="logo-youtube"></a>
                </div>
            </div>
        </div>

        <div class="grupo-2">
            <small>&copy; 2024 <b>CAC Medical</b> - Todos los Derechos Reservados</small>
        </div>

    </footer>
    <script type="text/javascript" src="../static/js/menu_responsive.js"></script>
</body>

</html>