<!DOCTYPE html>
<html lang="en">


    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="../static/css/estilo.css">
        <link rel="icon" href="../static/images/favicon.ico">
        <script src="https://kit.fontawesome.com/283daa4351.js" crossorigin="anonymous"></script>
        <title>Turnos</title>
    </head>

    <body>
        <header>
            <a href="../index.html"> <img class="imglogo" src="../static/images/logos/LogoCACMedical.png"
                    alt="logo-cac-medical"> </a>
        </header>
        <nav>
            <ul class="menuResponsive">
                <li><a href="../index.html"><img class="btn-inicio" src="../static/images/inicio.svg" alt="Menú"></a></li>
                <li><a><img class="btn-menuResponsive" src="../static/images/menuHamburguesa.svg" alt="Menú"></a></li>
            </ul>

        <ul class="menu">
            <li class="item-nav"><a href="../index.html">Inicio</a></li>
            <li class="item-nav"><a href="quienesSomos.html">Quienes somos</a></li>
            <li class="item-nav"><a href="especialidades.html">Especialidades</a></li>
            <li class="item-nav"><a href="coberturas.html">Cobertura</a></li>
            <li class="item-nav"><a href="contacto.html">Contacto</a></li>
        </ul>

        </nav>

        <form id="form" action=https://formspree.io/f/xleqkgyz method="POST">
            <label for="nombre">Nombre: </label>
            <input name="nombre" id="nombre" type="text" value="" placeholder="Nombre">
            <label for="apellido">Apellido: </label>
            <input name="apellido" id="apellido" type="text" value="" placeholder="Apellido">
            <label for="dni">DNI: </label>
            <input name="dni" id="dni" type="number"  value="" placeholder="DNI" required>
            <label for="email">E-Mail: </label>
            <input name="email" id="email" type="email" value="" placeholder="E-Mail" required>
            <label for="telefono">Teléfono: </label>
            <input name="telefono" id="telefono" type="tel" value="" placeholder="Teléfono">
            <label for="especialidades">Especialidades:</label>
            <select id="especialidades" name="especialidades">
                <option disabled selected>Elija Especialidad</option>
                <option>Cardiología</option>
                <option>Endocrinología</option>
                <option>Gastroenterología</option>
                <option>Ginecología y Obstetricia</option>
                <option>Infectología</option>
                <option>Laboratorio de Análisis Clínicos</option>
                <option>Odontología</option>
                <option>Oftalmología</option>
                <option>Otorrinolaringología</option>
                <option>Pediatría</option>
                <option>Traumatología</option>
            </select>
            <p>¿Tiene obra social?</p>
            <span> 
                <input type="radio" id="obraSocialSi" name="obraSocial">
                <label for="obraSocialSi">Si</label>
            </span>
            <span>
                <input type="radio" id="obraSocialNo" name="obraSocial">
                <label for="obraSocialNo">No</label>    
            </span>
            
            <div class="box-mensaje">
                <input type="text" value="" placeholder="Mensaje" name="inp-msj">
            </div>

            <div class="form-elements2">
                <div class="box-mensaje">
                    <textarea type="text" value="" placeholder="Mensaje"></textarea>
                </div>

            <div class="img-recargar">
                <img src="../static/images/img-recargar.svg" alt="">
            </div>

            <input class="inp-captcha" type="text" name="inp-captcha" value="">

            <div id="error"></div>
            <input type="submit" value="Enviar" name="enviar">
            <div class="alerta"> </div>
        </form>


        <footer>
            <div class="grupo-1">
                <!-- BOX 1 -->
                <div class="box">
                    <figure>
                        <a href="#">
                            <img src="../static/images/logos/LogoCACMedical.png" alt="logo-cac-medical">
                        </a>
                    </figure>
                </div>

                <!-- BOX 2 -->
                <div class="box">
                    <h2>¡Hey!</h2>
                    <p>¿Queres estar al tanto de nuestras últimas novedades, promociones y noticias?</p>
                    <p>En nuestras plataformas sociales tendrás acceso a contenido exclusivo.</p>

                    <h2>Seguinos</h2>
                    <div class="red-social">
                        <img src="../static/images/logos/logo-instagram.png" alt="logo-instagram">
                        <img src="../static/images/logos/logo-facebook.png" alt="logo-facebook">
                        <img src="../static/images/logos/logo-X.png" alt="logo-X">
                        <img src="../static/images/logos/logo-youtube.png" alt="logo-youtube">
                    </div>
                </div>
            </div>

            <div class="grupo-2">
                <small>&copy; 2024 <b>CAC Medical</b> - Todos los Derechos Reservados</small>
            </div>

        </footer>
        <script src="../static/js/form.js"></script>
        <script src="../static/js/menu_responsive.js"></script>
    </body>

    </html>